In [3]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\thoma\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\thoma\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\thoma\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\thoma\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\thoma\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\thoma\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

# single object in one-D array

In [4]:
import pandas as pd

In [5]:
s1=pd.Series([1,2,3,4,5])

In [6]:
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
type(s1)

pandas.core.series.Series

# series can be indexed and chage to its value

In [12]:
s2=pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])

In [13]:
s2

a    1
b    2
c    3
d    4
e    5
dtype: int64

# we can create a series object from a dict

In [14]:
s3=pd.Series({'a':10,'b':20})

In [15]:
s3

a    10
b    20
dtype: int64

# we can change the index position

In [16]:
pd.Series({'a':10,'b':20,'c':30}, index=['b','c','d','a'])

b    20.0
c    30.0
d     NaN
a    10.0
dtype: float64

# Extracting the value of the individual series

In [17]:
s11=pd.Series([1,2,3,4,5,6,7,8,9])
s22=pd.Series([10,20,30,40,50,60,70,80,90])

In [18]:
s11

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [19]:
s22

0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
8    90
dtype: int64

In [20]:
s11[1]

2

In [25]:
s11[:-1]

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

In [26]:
s11+10

0    11
1    12
2    13
3    14
4    15
5    16
6    17
7    18
8    19
dtype: int64

# creating a data frame

In [28]:
df=pd.DataFrame({"Name":['Thomas','Srishti','Ritika'],"marks":[98,99,97]})

In [29]:
df

      Name  marks
0   Thomas     98
1  Srishti     99
2   Ritika     97

In [30]:
df.head()

      Name  marks
0   Thomas     98
1  Srishti     99
2   Ritika     97

In [31]:
df.describe()

       marks
count    3.0
mean    98.0
std      1.0
min     97.0
25%     97.5
50%     98.0
75%     98.5
max     99.0

In [32]:
df.tail()

      Name  marks
0   Thomas     98
1  Srishti     99
2   Ritika     97

In [33]:
df.shape

(3, 2)

# Working in the real data sets of iris flow

In [34]:
data=pd.read_csv('Iris.csv')

In [35]:
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [36]:
data.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [37]:
data.shape

(150, 6)

In [38]:
data.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [39]:
data.iloc[0:3,0:2]

   Id  SepalLengthCm
0   1            5.1
1   2            4.9
2   3            4.7

In [41]:
data.loc[5:10,('PetalLengthCm','PetalWidthCm')]

    PetalLengthCm  PetalWidthCm
5             1.7           0.4
6             1.4           0.3
7             1.5           0.2
8             1.4           0.2
9             1.5           0.1
10            1.5           0.2

In [46]:
thomas=data.drop('SepalLengthCm',axis=1)

In [47]:
thomas.head()

   Id  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1           3.5            1.4           0.2  Iris-setosa
1   2           3.0            1.4           0.2  Iris-setosa
2   3           3.2            1.3           0.2  Iris-setosa
3   4           3.1            1.5           0.2  Iris-setosa
4   5           3.6            1.4           0.2  Iris-setosa

In [45]:
thomas.shape

(150, 5)

In [50]:
data.drop([3,4,5])

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
6,7,4.6,3.4,1.4,0.3,Iris-setosa
7,8,5.0,3.4,1.5,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [54]:
ritika=thomas.drop('Species', axis=1)

In [55]:
ritika.mean()

Id               75.500000
SepalWidthCm      3.054000
PetalLengthCm     3.758667
PetalWidthCm      1.198667
dtype: float64

In [56]:
ritika.median()

Id               75.50
SepalWidthCm      3.00
PetalLengthCm     4.35
PetalWidthCm      1.30
dtype: float64

In [57]:
ritika.min()

Id               1.0
SepalWidthCm     2.0
PetalLengthCm    1.0
PetalWidthCm     0.1
dtype: float64

In [58]:
ritika.max()

Id               150.0
SepalWidthCm       4.4
PetalLengthCm      6.9
PetalWidthCm       2.5
dtype: float64

In [60]:
ritika.head()

   Id  SepalWidthCm  PetalLengthCm  PetalWidthCm
0   1           3.5            1.4           0.2
1   2           3.0            1.4           0.2
2   3           3.2            1.3           0.2
3   4           3.1            1.5           0.2
4   5           3.6            1.4           0.2

In [59]:
def double_make(s):
    return s*2

In [61]:
ritika[['SepalWidthCm', 'PetalLengthCm']].apply(double_make)

     SepalWidthCm  PetalLengthCm
0             7.0            2.8
1             6.0            2.8
2             6.4            2.6
3             6.2            3.0
4             7.2            2.8
..            ...            ...
145           6.0           10.4
146           5.0           10.0
147           6.0           10.4
148           6.8           10.8
149           6.0           10.2

[150 rows x 2 columns]

In [62]:
data['Species'].value_counts()

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [66]:
ritika.sort_values(by='SepalWidthCm', ascending=False)

      Id  SepalWidthCm  PetalLengthCm  PetalWidthCm
15    16           4.4            1.5           0.4
33    34           4.2            1.4           0.2
32    33           4.1            1.5           0.1
14    15           4.0            1.2           0.2
16    17           3.9            1.3           0.4
..   ...           ...            ...           ...
87    88           2.3            4.4           1.3
62    63           2.2            4.0           1.0
68    69           2.2            4.5           1.5
119  120           2.2            5.0           1.5
60    61           2.0            3.5           1.0

[150 rows x 4 columns]

In [67]:
thomas[['SepalWidthCm','PetalLengthCm']]

     SepalWidthCm  PetalLengthCm
0             3.5            1.4
1             3.0            1.4
2             3.2            1.3
3             3.1            1.5
4             3.6            1.4
..            ...            ...
145           3.0            5.2
146           2.5            5.0
147           3.0            5.2
148           3.4            5.4
149           3.0            5.1

[150 rows x 2 columns]